
a
{
text-decoration:none;
color:#3b5998;
}

a:hover
{
text-decoration:underline;
}


.message_box
{
margin-top:5px;
width:400px;
border:solid 5px #d1daed;
overflow:auto;
padding:10px;
-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;
}

.message_body
{
margin-left:50px;
font-size:12px;
}

.like_box
{
display:inline;
margin-left:50px;
font-size:11px;
margin-top:5px;
margin-bottom:5px;
}

.like_show
{

}

.info
{
line-height:150%;
width:650px;
overflow:auto;
margin-top:30px;

}

.copy
{
color:#999999;
size:11px;
}

